body {
  background-color: #e5e5e5;
}

.global-wrapper {
  position: relative;
  width: 375px;
  height: 5410px;
  background-color: #f7f7f9;
  margin: auto;
  display: grid;
  grid-template-columns: auto;
  align-content: flex-start;
  align-items: center;
}

.main-page {
  height: 718px;
  width: inherit;
  border-bottom-left-radius: 100px;
  background-color: white;
  background-image: url(images/background-img.svg);
  background-size: 462px 587.15px;
  background-position: -40px 104px;
  background-repeat: no-repeat;
}

.appbar {
  height: 44px;
  background-color: #fff;
}

.toolbar {
  display: flex;
  height: 48px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.menu-div {
  width: 40px;
  height: 40px;
  margin-right: 24px;
}

.menu {
  width: 24px;
  height: 24px;
  padding-top: 8px;
  padding-left: 8px;
}

.menu-icon {
  width: 18px;
  height: 12px;
  padding-top: 6px;
  padding-left: 3px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100px;
  top: calc(50% - 40px / 2);
  margin-left: 12px;
}

a {
  text-decoration: none;
}

.logo > a {
  font-family: Poppins, sans-serif, Helvetica, Arial, Verdana, Tahoma;
  font-size: 18px;
  font-weight: 700;
  align-content: center;
  margin-left: 12px;
  color: #6070ff;
}

.headline {
  height: 604px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.headline > h2 {
  display: flex;
  align-items: center;
  max-width: 327px;
  height: 150px;
  flex-wrap: wrap;
  font-family: Poppins, sans-serif, Helvetica, Arial, Verdana, Tahoma;
  font-size: 40px;
  padding-right: 50px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  margin-top: 114px;
  margin-left: 24px;
}

.headline p.primary-text {
  font-family: Poppins, sans-serif, Helvetica, Arial, Verdana, Tahoma;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 12px;
  margin-left: 24px;
  margin-right: 24px;
}

.headline a.connect {
  font-family: Poppins, sans-serif, Helvetica, Arial, Verdana, Tahoma;
  font-weight: 500;
  height: 24px;
  width: 130px;
  font-size: 16px;
  color: #7f8cff;
  margin-top: 12px;
  margin-left: 24px;
}

.social-media-details {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  margin-left: 24px;
  height: 20px;
  width: 170.17px;
  padding: 0;
}

.card-buttons {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  margin-left: 24px;
  height: 20px;
  width: 170.17px;
  padding: 0;
}

.works {
  display: grid;
  grid-template-columns: auto;
  width: inherit;
  max-height: 2788px;
  padding: 114px 24px;
  justify-content: center;
  justify-items: center;
  box-sizing: border-box;
}

.card-1 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 16px;
  height: 552px;
  width: 327px;
  padding: 16px;
}

.card-2 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 16px;
  height: 552px;
  width: 327px;
  padding: 16px;
  margin-top: 88px;
}

.card-3 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 16px;
  height: 552px;
  width: 327px;
  padding: 16px;
  margin-top: 88px;
}

.card-4 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 16px;
  height: 552px;
  width: 327px;
  padding: 16px;
  margin-top: 88px;
}

.card-image {
  width: 295px;
  height: 220px;
  box-sizing: border-box;
}

.card-content {
  margin-top: 12px;
  width: 295px;
  box-sizing: border-box;
}

.card-header {
  align-content: flex-start;
  flex-direction: column;
  height: 80px;
}

.card-header > h2 {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  height: 36px;
  margin: 0%;
}

.canopy-list {
  display: flex;
  justify-content: space-between;
  width: 236px;
  height: 32px;
  margin-top: 12px;
  padding-left: inherit;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.canopy {
  font-weight: bolder;
  list-style: none;
  font-family: Poppins, sans-serif, Helvetica, Arial, Verdana, Tahoma;
  font-size: 13px;
  line-height: 16px;
  width: 55px;
  color: #344563;
}

.card-content p {
  font-family: Poppins, sans-serif, Helvetica, Arial, Verdana, Tahoma;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  height: 76px;
}

.card-content > ul {
  font-family: Poppins, sans-serif, Helvetica, Arial, Verdana, Tahoma;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.card-buttons * {
  color: #6070ff;
  border-radius: 5px;
  border-style: none;
}

.card-buttons + div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
  width: 295px;
  height: 72px;
  order: 3;
  padding-top: 12px;
}

.card-check {
  box-sizing: border-box;
  align-items: center;
  width: 124px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #396df2;
  font-family: Poppins, sans-serif, Helvetica, Arial, Verdana, Tahoma;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.card-check:hover {
  border-radius: 15% 15%;
  background-color: #396df2;
  color: #fff;
}

#about-myself {
  display: flex;
  flex-direction: column;
  padding: 114px 24px;
  gap: 24px;
  height: 1125.15px;
  background-color: #fff;
  border-top-right-radius: 60px;
  margin-top: 114px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 327px;
  height: 409px;
}

.top h2 {
  font-family: Poppins, sans-serif, Helvetica, Arial, Verdana, Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  height: 101px;
  box-sizing: border-box;
}

.top p {
  height: 144px;
  font-family: Poppins, sans-serif, Helvetica, Arial, Verdana, Tahoma;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  align-content: space-around;
}

.skills-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 327px;
  height: 320.15px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.languages {
  width: 327px;
  height: 72px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 80px;
}

.lang-nav a {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 26px;
  border-radius: 8px;
}

.lang-nav p {
  position: absolute;
  height: 24px;
  left: 36px;
  right: 78px;
  font-family: Poppins, sans-serif, Helvetica, Arial, Verdana, Tahoma;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.lang-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 12px;
  width: 327px;
  height: 248.15px;
  flex: none;
  order: 1;
  flex-grow: 0;
  box-sizing: border-box;
}

.js {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  left: 36px;
  display: flex;
}

.js img {
  position: absolute;
  width: 48px;
  height: 48px;
  margin-top: 9px;
  margin-bottom: 9.75px;
  margin-left: 12px;
}

.js a {
  position: absolute;
  height: 24px;
  margin: 21px 48px 21.72px 112px;
  font-family: Poppins, sans-serif, Helvetica, Arial, Verdana, Tahoma;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.html {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.html img {
  position: absolute;
  width: 48px;
  height: 48px;
  margin-top: 9px;
  margin-bottom: 9.75px;
  margin-left: 12px;
}

.html a {
  position: absolute;
  height: 24px;
  margin: 21px 48px 21.72px 112px;
  font-family: Poppins, sans-serif, Helvetica, Arial, Verdana, Tahoma;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.css {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.css img {
  position: absolute;
  width: 48px;
  height: 48px;
  margin-top: 9px;
  margin-bottom: 9.75px;
  margin-left: 12px;
}

.css a {
  position: absolute;
  height: 24px;
  margin: 21px 48px 21.72px 112px;
  font-family: Poppins, sans-serif, Helvetica, Arial, Verdana, Tahoma;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.frameworks {
  display: flex;
  width: 327px;
  height: 72px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 12px;
  align-items: center;
  border-bottom: 1px solid#dfe1e6;
}

.frameworks img {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 26px;
  border-radius: 8px;
}

.frameworks a {
  position: absolute;
  height: 24px;
  left: 36px;
  right: 78px;
  margin: 24px 78px 24px 12px;
  font-family: Poppins, sans-serif, Helvetica, Arial, Verdana, Tahoma;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.skills {
  display: flex;
  width: 327px;
  height: 72px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 12px;
  align-items: center;
  border-bottom: 1px solid #dfe1e6;
}

.skills img {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 26px;
  border-radius: 8px;
}

.skills a {
  position: absolute;
  height: 24px;
  left: 36px;
  right: 78px;
  margin: 24px 78px 24px 12px;
  font-family: Poppins, sans-serif, Helvetica, Arial, Verdana, Tahoma;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.contactForm {
  display: grid;
  grid-template-columns: auto;
  width: inherit;
  max-height: 780px;
  justify-content: center;
  justify-items: center;
  box-sizing: border-box;
  margin-top: 1130px;
  background: #fff;
}

.contactForm > div {
  background-color: #6070ff;
  border-top-left-radius: 60px;
  width: inherit;
  height: 780px;
  padding: 103px 24px 44px 24px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-image: url(images/form\ bg.svg);
  background-repeat: no-repeat;
  background-size: 265px 709.17px;
  background-position-x: 130px;
  background-position-y: 21px;
}

.contactForm > div h2 {
  display: flex;
  height: 56px;
  font-family: Poppins, sans-serif, Helvetica, Arial, Verdana, Tahoma;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  box-sizing: border-box;
  align-self: center;
  margin: 0%;
}

.contactForm-p {
  display: flex;
  font-family: Poppins, sans-serif, Helvetica, Arial, Verdana, Tahoma;
  font-style: normal;
  font-weight: 400;
  justify-self: center;
  font-size: 16px;
  text-align: center;
  color: #ebebff;
  line-height: 28px;
  box-sizing: border-box;
}

.formParag {
  width: 327px;
  height: 102px;
  position: relative;
  margin-bottom: 87px;
}

.detail input {
  height: 50px;
  border-radius: 10px;
  border-color: #cfd8dc;
  border-style: none;
  width: 327px;
  margin-bottom: 24px;
}

textarea {
  border-radius: 10px;
  border-color: #cfd8dc;
  width: 327px;
  border-style: none;
  margin-bottom: 20px;
}

input::placeholder {
  color: #172b4d;
  padding-left: 20px;
  font-size: large;
}

::placeholder {
  color: #b3bac5;
  font-size: 20px;
  padding-left: 20px;
}

form > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  position: absolute;
  width: 140px;
  height: 48px;
  left: 24px;
  top: 5317px;
  background: #fff;
  border-radius: 8px;
  color: #6070ff;
  font-family: Poppins, sans-serif, Helvetica, Arial, Verdana, Tahoma;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

#mark {
  position: absolute;
  width: 134px;
  height: 5px;
  left: calc(50% - 134px / 2 - 0.5px);
  bottom: 8px;
  background: #0d151e;
  border-radius: 10px;
}
